html {
    background-color:rgb(255, 250, 250);

}

div {
    display:block;
    position:relative;
    width:auto;
    height:auto;
}

div::after {
    content:"";
    opacity:0.2;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat:repeat;
    background-size:cover;
    z-index:-1;
    background-size:100%;
}

h1 { 
    font-family: Copperplate; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 26.399999618530273px;
    color:darkred;
} 
h2 { 
    font-family: Copperplate; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 20.399999618530273px;
    color:darkred;
} 
h3 { 
    font-family: Copperplate; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 15.399999618530273px; 
    color:darkred;
} 
p { 
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    color:orangered; 
} 
blockquote { 
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; } 
pre { 
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.571430206298828px; }

body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size: 13px; 
    padding: 40px;
    border-radius: 15px;
    color:orangered; 
    border-style:solid;
}


.button {
    color:rgb(104, 0, 0);
    padding:40px;
    background-color:rgb(255, 210, 210);

}

p {
    color:indianred;
}

#nav {
	list-style-type: none;
	background-color:beige;
	padding: 8px;
	border-color:darkred;
	border: 2px solid white; 
	text-align: center;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
}


#nav a {
	color:slateblue;
	text-decoration:none;
	background-color:pink;
	padding: 10px;
	margin-left: -4px;
	text-align:center;
}

#nav ul {
	color:rgb(93, 27, 27);
	display: flex;
    justify-content: space-between;
}

#nav a:hover {
	text-decoration:overline;
	background-color:#da8d93;
}

#nav li {
	display: inline-block;
    padding: 10px;
	
}

img {
    border-color:rgb(148, 101, 104);
    border-width:10px;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.painting:hover {
	transform:scale(1);
	transition: 1s ease-in-out;
}

.row {
    display:flex;
}
.column {
    float:left;
    width:50%;
    padding:5px;
}

a {
    font-weight: bold;
      text-decoration: none;
      color: #300102;
  }
  
  a:link {
      color:#43004B;
      text-decoration:none;
      font-weight:bold;
      
  }
  
  a:hover {
      text-decoration: underline;
      color: #ee785a;
      font-weight:bold;
      
  }
  
  a:visited {
      color:#9d5d49;
  }
  
  a:active {
      background-color:#F9C9A5;
  }

ul {
    color:rgb(105, 0, 0);
    list-style-type: square;
}

ol {
    color:rgb(105, 0, 0);
}

.Subscribe {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="email"]{
    padding: 10px;
    display: inline-block;
    border:white 10px;
    background:rgb(240, 184, 184);
    margin: 5px;
}

input[type="text"]:focus, input[type="password"]:focus{
    background-color: rgb(255, 102, 102);
}

input[type="text"], select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.Sub {
    background-color:lightcoral;
    color:white;
    padding: 10px;
    border:solid;
    cursor:pointer;
    opacity:0.8;
    width:50%;
    text-align:center;
    display: inline-block;
}

.Submit {
    background-color:lightcoral;
    color:white;
    padding: 10px;
    border:solid;
    cursor:pointer;
    opacity:0.8;
    width:50%;
    text-align:center;
    display: inline-block;
}

div.Sub {
    display: block;
    text-align: center;
}

.Sub:hover {
    opacity: 1;
}

.Options {
    position: relative;
    display: block;
    background-color:lightcoral;
    color:white;
    text-align:center;
}

/*select {
    position:absolute;
    background-color:lightblue;
    padding: 10px;
    display:block;
}
*/

.Size {
    background-color: rgb(198, 99, 99);
    padding: 20px;
    color:black;
    display:block;
    overflow: hidden;
}


.Size-content {
    position:absolute;
    background-color:rgb(198, 99, 99);
    padding: 10px;
    display:block;
}

.Material {
    background-color: rgb(198, 99, 99);
    padding: 10px;
    color:black;
    display:block;
}

.Material-content {
    position:absolute;
    background-color:rgb(198, 99, 99);
    padding: 10px;
}